@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #e8e8e8;
	font-family: "Montserrat", sans-serif;
	overflow-x: hidden;
}

a {
	color: #e8e8e8;
}

nav a:hover {
	color: #0074bd;
	border-bottom: 3px solid #0074bd;
}

.container {
	max-width: 990px;
}

header {
	background-color: #464646;
	display: flex;
	justify-content: center;
	height: 70px;
	position: fixed;
	top: 0;
	width: 100vw;
}

.header-box {
	width: 90vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	font-size: 20px;
}

.header-logo span {
	font-weight: 700;
	color: #0074bd;
}

.header-box nav {
	display: flex;
	gap: 25px;
}

.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
	height: 450px;
	background-color: #555555;
	background-image: url(assets/Polygon\ Luminary.svg);
	background-size: cover;
}

.banner-item {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	width: 90vw;
}

.banner-text {
	font-size: 25px;
}

.banner-text span {
	color: #0074bd;
}

.banner img {
	width: 40%;
	min-width: 300px;
}

.sobre {
	display: flex;
	justify-content: center;
	background-color: #464646;
}

.sobre-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 70px 0;
	width: 90vw;
}

.sobre-container {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	gap: 60px;
}

.sobre-container img {
	width: 200px;
}

.sobre-container p {
	max-width: 600px;
	text-align: justify;
	margin-bottom: 10px;
}

.skills {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #555555;
}

.skills-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;
	padding: 100px 0;
}

.skills-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
	width: 70%;
}

.skills-container {
	padding: 0 20px;
}

.skills-item {
	width: 130px;
	height: 130px;
	background-color: #464646;
	display: flex;
	justify-content: center;
	align-items: center;
}

.skills-item img {
	width: 80px;
}

.projetos {
	display: flex;
	justify-content: center;
	padding: 70px 0;
	background-color: #464646;
}

.projetos-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;
	padding: 100px 0;
}

.projetos-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
	width: 90vw;
}

.projetos-item {
	background-color: #555555;
	padding: 25px;
	height: 300px;
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.projetos-item img {
	width: 150px;
}

.projetos-item button {
	border: none;
	border-radius: 5px;
	padding: 5px 15px;
	background-color: #0074bd;
	color: #e8e8e8;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	cursor: pointer;
}

.projetos-item button:hover {
	background-color: #0394ee;
}

.contato {
	display: flex;
	justify-content: center;
	padding: 70px 0;
	background-color: #555555;
}

.contato-box {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 60px;
	width: 90vw;
}

.contato-box form {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 20px;
}

.contato-box form input,
.contato-box form textarea {
	background-color: #e8e8e8;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 700;
	outline: 0;
	border: none;
	border-radius: 2px;
	padding: 10px;
	resize: none;
}

input[type="submit"] {
	margin: 0 auto;
	width: 200px;
	border: none;
	border-radius: 5px;
	padding: 5px 15px;
	background-color: #0074bd !important;
	color: #e8e8e8 !important;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #0394ee !important;
}

footer {
	display: flex;
	justify-content: center;
	padding: 70px 0;
	background-color: rgb(35, 35, 35);
}

.footer-box {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 60px;
}

.footer-box p {
	line-height: 30px;
}

.footer-social-media {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.social-media-icons {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.social-media-icons img {
	width: 40px;
}

.mobile-nav {
	position: fixed;
	top: 0;
	right: 0px;
	width: 0vw;
	height: 100vh;
	background-color: rgb(35, 35, 35);
	opacity: 0.8;
	display: none;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	padding-top: 50px;
	text-align: center;
}

.mobile-nav-button {
	margin: 0 auto;
	width: 100px;
	border: none;
	border-radius: 5px;
	padding: 5px 15px;
	background-color: #0074bd !important;
	color: #e8e8e8 !important;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	cursor: pointer;
}

.mobile-nav-options {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.mobile-nav-icon {
	display: none;
	flex-direction: column;
	gap: 5px;
	cursor: pointer;
}

.mobile-bar {
	width: 30px;
	height: 3px;
	background-color: #e8e8e8;
}

.opened-menu {
	display: flex;
	width: 80vw;
}

@media (max-width: 970px) {
	.banner-item {
		flex-direction: column;
		gap: 30px;
	}
}

@media (max-width: 700px) {
	.sobre-container {
		flex-direction: column;
		align-items: center;
	}

	.header-box nav {
		display: none;
	}

	.mobile-nav-icon {
		display: flex;
	}
}

@media (max-width: 500px) {
	.banner-text {
		font-size: 16px;
	}
}
